*{
    background-color: rgb(129, 34, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

button{
    background-color: blue;
    border: 1px solid white;
    color: white;
    border-radius: 7px;
    padding: 10px;
    font-size: 24px;
    
}
body{
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 200px;

}
.score{
    padding: 8px;
    background-color: blue;
    color: white;
    font-size: 50px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid white;
    align-items: center;

}
h4{
    padding: 4px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    width: fit-content;
}

h2{
    padding: 8px;
    color: white;
    border-radius: 10px;
    font-size: 32px;
    width:fit-content;
}